<header role="banner">
   <nav role="navigation">
   <ul>
      {% for item in site.data.navigation.links %}
         <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
   </ul>
   </nav>

   <nav role="tags">
      Tags:
      {% assign tags = site.tags | sort %}
      <ul>
         {% for tag in tags %}
          <li><a href="/tag/{{ tag | first | slugify }}/">{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }}){% unless forloop.last %} {% endunless %}</a></li>
         {% endfor %}
      </ul>
   </nav>
</header>